<!DOCTYPE html>
<html lang="es">
  <%- include('partials/headAdmin') %>
<body>
  <%- include('partials/header') %>

  <main id="admin-panel">
    <h1>Panel de Administración</h1>

    <%- include('partials/admin/background', { background }) %>
    <%- include('partials/admin/gallery', { images }) %>
    <%- include('partials/admin/summary', { summary }) %>
    <%- include('partials/admin/services', { services }) %>
    <%- include('partials/admin/advantages', { advantages }) %>
    <%- include('partials/admin/costs', { costs }) %>
    <%- include('partials/admin/productos', { productos }) %>
  </main>

  <%- include('partials/footer') %>
  <%- include('partials/admin/scripts') %>
</body>
</html>
